
body{
    background-color: rgb(211, 169, 250);
    text-align: center;
}

.div{
    text-align: center;
    border: 3px  solid black;
}
.x1,.x2,.x3{
    display: inline-block;
    width: 10em;
    height: 2em;
    border: 3px solid black;
    margin-left:12em ;
    text-align: center;
    background-color: rgb(186, 240, 222);
}