
body{
    background-color: rgb(211, 169, 250);
    text-align: center;
}
.e_b{
    display: inline;
    margin: 36%;
}
h1{
    text-align: center;
    font-size: 4em;
}
p{
    text-align: center;
    background-color: aliceblue;
}
b{
    background-color: beige;
    margin-left: 43%;

}