
body{
    background-color: rgb(211, 169, 250);
    text-align: center;
}

div{
    text-align: center;
    margin-bottom: 5em;
}
.x1,.x2,.x3,.x4{
    border-radius: 14px;
    padding: 2em;
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: rgb(140, 58, 187);
    margin-bottom: 2cm;
    text-align: center;
}
.x1{
    outline: auto ;
}
.x4{
    outline: auto;
}